* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

header {
  display: flex;
  background-color: #155e75;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 100px;
}

h1 {
  font-size: 2.5rem;
}
nav ul {
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
}
li {
  list-style: none;
  font-size: 1.5rem;
}

header li {
  color: #cffafe;
}

a {
  text-decoration: none;
}
/* Main */

main {
  margin: 50px;
  display: flex;
  justify-content: center;
}

main h2 {
  font-size: 2.5rem;
}
main h3 {
  font-size: 1.5rem;
}

main section {
  max-width: 1200px;
}
.shop {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.shopItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 50px;
  justify-content: space-evenly;
  gap: 20px;
  border-radius: 20px;
}
.shop img,
.cartItem img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.shopItem input {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-left: 5px;
  outline: none;
  border: none;
}
.shopItem:nth-child(odd),
.cartItem:nth-child(odd) {
  background-color: #0891b2;
}
.shopItem:nth-child(even),
.cartItem:nth-child(even) {
  background-color: #0e7490;
}

.shopItem button {
  background-color: #4d7c0f;
  border: 1px gray solid;
  padding: 20px 20px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}

.shopItem div {
  font-size: 25px;
}
.shopingCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.shopingCart ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.shopingCart li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 50px;
  gap: 20px;
  border-radius: 20px;
}
